# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# artifacts
*.tgz

# ide
.idea/
.vscode/

# lerna
lerna-debug.log

# yarn
.pnp.cjs
.pnp.js
.yarn/build-state.yml
.yarn/cache/
.yarn/install-state.gz
.yarn/unplugged/
node_modules/
yarn-debug.log
yarn-error.log

# system
.DS_Store
