extends:
  - plugin:import/recommended
  - plugin:import/react
  - plugin:import/typescript
overrides:
  - files:
      - "**/index.{[cm]js,[jt]s?(x)}"
    rules:
      import/no-unused-modules: off # does not support `export * from ""`, watch https://github.com/import-js/eslint-plugin-import/issues/1775
  - files:
      - "**/__tests__/**/*.{[cm]js,[jt]s?(x)}"
      - "**/*.@(cy|spec|test).{[cm]js,[jt]s?(x)}"
    rules:
      import/no-unused-modules: off # test files are not es modules
  - files:
      - "*.d.ts"
    rules:
      import/no-unused-modules: off # ignore type definition files which use declarations
plugins:
  - import
rules:
  import/exports-last: error # recommended off
  import/extensions:
    - error # recommended off
    - ignorePackages # https://nodejs.org/api/esm.html#esm_mandatory_file_extensions
    - # TS2691
      pattern:
        ts: never
        tsx: never
  import/first: error # recommended off
  import/newline-after-import: error # recommended off
  import/no-absolute-path: error # recommended off
  import/no-amd: error # recommended off
  import/no-commonjs: error # recommended off
  import/no-cycle: error # recommended off
  import/no-default-export: error # recommended off
  import/no-deprecated: error # recommended off
  import/no-duplicates: error # recommended warn
  import/no-extraneous-dependencies: error # recommended off
  import/no-mutable-exports: error # recommended off
  import/no-named-as-default: error # recommended warn
  import/no-named-as-default-member: error # recommended warn
  import/no-named-default: error # recommended off
  import/no-relative-packages: error # recommended off
  import/no-relative-parent-imports: off # recommended off, rule is broken w/ typescript, watch https://github.com/benmosher/eslint-plugin-import/issues?q=is%3Aissue+is%3Aopen+no-relative-parent-imports
  import/no-self-import: error # recommended off
  import/no-unused-modules:
    - error # recommended off
    - missingExports: true # requires option, see https://github.com/benmosher/eslint-plugin-import/issues/1324
  import/no-useless-path-segments:
    - error # recommended off
    - noUselessIndex: true
  import/no-webpack-loader-syntax: error # recommended off
  import/order:
    - error # recommended off
    - alphabetize:
        order: asc
      groups:
        - builtin
        - external
        - internal
        - - parent
          - sibling
          - index
      newlines-between: always
