// Fonts

@use "inter-ui/default" with
  ($inter-font-display: fallback, $inter-font-path: "inter-ui/Inter (web)");
@use "inter-ui/variable" with
  ($inter-font-display: fallback, $inter-font-path: "inter-ui/Inter (web)");
@include default.all;
@include variable.all;

html {
  font-family: "Inter", "system-ui";
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", "system-ui";
  }
}

// Accessibility

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
