name: ci
on:
  push:
    branches:
      - master
jobs:
  build:
    name: Test on node ${{matrix.node}} and ${{matrix.os}}
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        node:
          - 16
          - 18
          - 20
        os:
          #- macos-latest
          - ubuntu-latest
          #- windows-latest
    env:
      #PLAYWRIGHT_BROWSERS_PATH: ./cache/playwright
      YARN_NODE_LINKER: pnp
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.3
      #  with:
      #    lfs: true
      - name: Git LFS Hashes
        run: git lfs ls-files -l | cut -d' ' -f1 | sort > .lfs-hashes
      - name: Restore Git LFS Cache
        uses: actions/cache@v3.3.1
        id: lfs-cache
        with:
          path: .git/lfs
          key: ${{matrix.os}}-lfs-${{hashFiles('.lfs-hashes')}}
          restore-keys: |
            ${{matrix.os}}-lfs-
      - name: Pull Git LFS
        run: git lfs pull
      - name: Setup Node@${{matrix.node}}
        uses: actions/setup-node@v3.8.1
        with:
          node-version: ${{matrix.node}}
      - name: Yarn Cache Directory
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"
      - name: Restore Yarn Cache
        uses: actions/cache@v3.3.1
        id: yarn-cache
        with:
          path: |
            ${{steps.yarn-cache-dir-path.outputs.dir}}
            .yarn/install-state.gz
            .yarn/unplugged
          key: ${{matrix.os}}-${{matrix.node}}-yarn-${{hashFiles('**/yarn.lock')}}
          restore-keys: |
            ${{matrix.os}}-${{matrix.node}}-yarn-
      - name: Install Dependencies
        run: yarn install --immutable
      - name: Constraints
        run: yarn constraints
      - name: Restore TypeScript Cache
        uses: actions/cache@v3.3.1
        id: typescript-cache
        with:
          path: "**/build"
          key: ${{matrix.os}}-${{matrix.node}}-typescript-${{github.sha}}
          restore-keys: |
            ${{matrix.os}}-${{matrix.node}}-typescript-
      - name: Compile
        run: yarn workspaces foreach --parallel --topological-dev --verbose run compile
      - name: Restore Jest Cache
        uses: actions/cache@v3.3.1
        id: jest-cache
        with:
          path: "**/cache/jest"
          key: ${{matrix.os}}-${{matrix.node}}-jest-${{github.sha}}
          restore-keys: |
            ${{matrix.os}}-${{matrix.node}}-jest-
      - name: Unit Test
        run: yarn workspaces foreach --parallel --verbose run test:ci
      - name: Restore ESLint Cache
        uses: actions/cache@v3.3.1
        id: eslint-cache
        with:
          path: "**/.eslintcache"
          key: ${{matrix.os}}-${{matrix.node}}-eslint-${{github.sha}}
          restore-keys: |
            ${{matrix.os}}-${{matrix.node}}-eslint-
      - name: Lint
        run: yarn workspaces foreach --parallel --verbose run lint:all
      - name: Restore Prettier Cache
        uses: actions/cache@v3.3.1
        id: prettier-cache
        with:
          path: "**/.yarn/.cache/prettier"
          key: ${{matrix.os}}-${{matrix.node}}-prettier-${{github.sha}}
          restore-keys: |
            ${{matrix.os}}-${{matrix.node}}-prettier-
      - name: Format
        run: yarn workspaces foreach --parallel --verbose run format:all:check
      - name: Restore Webpack Cache
        uses: actions/cache@v3.3.1
        id: webpack-cache
        with:
          path: "**/.yarn/.cache/webpack"
          key: ${{matrix.os}}-${{matrix.node}}-webpack-${{github.sha}}
          restore-keys: |
            ${{matrix.os}}-${{matrix.node}}-webpack-
      - name: Build
        run: yarn workspaces foreach --parallel --topological-dev --verbose run build
      - name: Bundle Size
        run: yarn workspaces foreach --parallel --verbose run bundlesize
      #- name: Date (YYYYMM)
      #  id: date
      #  run: echo "::set-output name=date::$(/bin/date -u "+%Y%m")"
      #- name: Restore Playwright Cache
      #  uses: actions/cache@v3.3.1
      #  id: playwright-cache
      #  with:
      #    path: ${{env.PLAYWRIGHT_BROWSERS_PATH}}
      #    key: ${{matrix.os}}-${{matrix.node}}-playwright-${{steps.date.outputs.date}}
      - name: Playwright
        id: playwright
        run: |
          yarn dlx playwright install --with-deps
          yarn workspaces foreach --parallel --verbose run playwright
      - name: Upload Playwright Artifacts
        uses: actions/upload-artifact@v3.1.2
        if: steps.playwright.outcome == 'failure'
        with:
          name: playwright
          path: ${{github.workspace}}/**/playwright/report/
          retention-days: 5
    timeout-minutes: 15
#  # https://help.github.com/en/actions/language-and-framework-guides/publishing-nodejs-packages
#  publish:
#    needs: build
#    runs-on: ubuntu-latest
#    steps:
#      - name: Checkout
#        uses: actions/checkout@v3.5.3
#      #  with:
#      #    lfs: true
#      - name: Git LFS Hashes
#        run: git lfs ls-files -l | cut -d' ' -f1 | sort > .lfs-hashes
#      - name: Restore Git LFS Cache
#        uses: actions/cache@v3.3.1
#        id: lfs-cache
#        with:
#          path: .git/lfs
#          key: ${{runner.os}}-lfs-${{hashFiles('.lfs-hashes')}}
#          restore-keys: |
#            ${{runner.os}}-lfs-
#      - name: Pull Git LFS
#        run: git lfs pull
#      - name: Setup Node
#        uses: actions/setup-node@v3.8.1
#        with:
#          node-version-file: .nvmrc
#          registry-url: "https://registry.npmjs.org"
#      - name: Yarn Cache Directory
#        id: yarn-cache-dir-path
#        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"
#      - name: Restore Yarn Cache
#        uses: actions/cache@v3.3.1
#        id: yarn-cache
#        with:
#          path: |
#            ${{steps.yarn-cache-dir-path.outputs.dir}}
#            .yarn/install-state.gz
#            .yarn/unplugged
#          key: ${{runner.os}}-${{matrix.node}}-yarn-${{hashFiles('**/yarn.lock')}}
#          restore-keys: |
#            ${{runner.os}}-${{matrix.node}}-yarn-
#      - name: Install Dependencies
#        run: yarn install --immutable
#      - name: Publish
#        run: yarn publish
#        env:
#          NODE_AUTH_TOKEN: ${{secrets.npm_token}}
#    timeout-minutes: 15
