name: cron
on:
  schedule:
    - cron: "0 0 * * 0" # @weekly https://crontab.guru/
jobs:
  build:
    name: Scheduled fitness function verification
    runs-on: ubuntu-latest
    env:
      YARN_NODE_LINKER: pnp
    steps:
      - name: Checkout
        uses: actions/checkout@v3.5.3
      #  with:
      #    lfs: true
      - name: Git LFS Hashes
        run: git lfs ls-files -l | cut -d' ' -f1 | sort > .lfs-hashes
      - name: Restore Git LFS Cache
        uses: actions/cache/restore@v3.3.1
        id: lfs-cache
        with:
          path: .git/lfs
          key: ${{runner.os}}-lfs-${{hashFiles('.lfs-hashes')}}
          restore-keys: |
            ${{runner.os}}-lfs-
      - name: Pull Git LFS
        run: git lfs pull
      - uses: actions/setup-node@v3.8.0
        with:
          node-version-file: .nvmrc
      - name: Install Dependencies
        run: yarn install --immutable
      - name: Dedupe Dependencies
        if: always()
        run: yarn dedupe --check
      - name: Audit Direct Dependencies
        if: always()
        run: yarn npm audit --all
      - name: Audit Transitive Production Dependencies
        if: always()
        run: yarn npm audit --all --recursive --environment=production --severity=moderate
      - name: Audit Transitive Dependencies
        if: always()
        run: yarn npm audit --all --recursive --severity=high
      #- name: Audit Transitive Dependencies
      #  if: always()
      #  run: yarn audit-ci
      - name: Dependency Maintenance
        if: always()
        run: yarn libyear --all
    timeout-minutes: 15
